:root {
--primary-text-color: #757575;
--title-text-color: #212121;
--accent-color: #2196f3; 
--primery-white-color: #ffffff;
--primery-black-color: #000000;
--second-grey-color: #f5f4fa;
--footer-bg-color: #2f303a; 
--contacts-ft-color: rgba(255,255,255,0.6);
--social-links-ft-bg-colors: rgba(255,255,255,0.1);
--button-hero-hover-color: #188ce8; 
--header-border-bottom-color: #ececec; 
--portfolio-project-border: #eeeeee; 
--clients-primary-color: #afb1b8; 
--work-text-bg-color: rgba(47,48,58,0.8); 
--portfolio-overlay-text-bg-color: rgba(33,150,243,0.9); 
--modal-window-bg-color: rgba(0,0,0,0.2);
--modal-window-close-border-color: rgba(0,0,0,0.1); 
 }
 
body {
font-family: 'Roboto', sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}
.link {
    text-decoration: none;
    color:currentcolor;
 }
.list {
    list-style: none;
    padding: 0;
    margin: 0;
 }
 
 

.conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left:auto;
    margin-right:auto;

    
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

// Header //

  .header {
    background: solid #FFFFFF
    
}
  .header-conteiner {
    display: flex;
    align-items: center;
    
}  


.logo {
margin-right: 93px;
}

.header-nav {
    margin-right :auto;
}

.header-list {
    display: flex ;
    gap: 50px;
}

.flex-nav{
    display: flex;
    align-items: center;
    gap: 50px;
    
}
.contacts-list {
    display:flex;
    margin-right: auto;
}
.header-email:hover {
    color: #2196F3;
}
.header-email {
    color: #757575;
}

.header-phone {
    color: #757575;
}
.header-phone:hover,
.header-phone:focus {
    color: #2196F3;
}
.header-email {
   
}
.nav-item {
    display: block;
    padding: 32px 0;
    
}
.nav-item:hover,
.nav-item:focus {
    color: #2196F3;
}
.nav-item.nav-item-current {
color: #2196F3;
}
.nav-item-portf:hover {
    color: #2196F3;
}
.nav-item-portf:focus {
    color: #2196F3;
}

.header-item-studio: {
    color: #212121;
}

.header-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color:var(--title-text-color)
    display: block;

}


.header {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    border-bottom: 1px #ECECEC;
}


/* logo Website */

 .logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color:#2196f3;
 }

 .header-logo {
    color: var(--primery-black-color);
 }

 .header-current.link {
    color: var(--accent-color);
 }



 
.header-contacts-link {
font-weight: 500;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.02em;
color: #757575; 

}

 








/* hero */

.hero {
    padding: 200px 452px;
    text-align: center;
    padding: 200px 0px;
    background-color: #2f303a

}

.hero-title {
    
    font-weight: 900;
    font-size: 44px;
    line-height:calc(60/44) ;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--primery-white-color);
    text-transform: uppercase;
    margin-bottom: 30px;
 }
.hero-button {
    max-width: 250px;
    min-width: 200px;
    min-height: 50px;
    padding: 9px 31px;
letter-spacing: 0.03em;
    align-self: center;
    font-family: "Roboto",sans-serif;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
   background-color: #2196f3;
   color: #ffffff;
   border: none;
}

 

/* main */



  
   

.work-list list {
    display: flex;
  
}
.image-list {
    display: flex;
    gap: 30px;
   
}
.img {
    display: block;
    }

.title-work {
font-weight: 700;
font-size: 14px;
line-height:calc(16/14)  ;
letter-spacing: 0.03em;
text-transform: uppercase
color: var(--title-text-color); 
margin-bottom: 10px;

}

.text-work { 
    
font-weight: 400;
font-size: 14px;
line-height:calc(24/14) ;
letter-spacing: 0.03em;
color:var(--primary-text-color);

}

.work-list {
    margin-top: 94px;
}
.benefits {
    display: flex;
    gap: 30px;
   
}
.benefits-item {
    width: 270px;
}
.section.work {
    padding-top: 0;
}
.image-item {
    align-items: center;
   
}
.section-team {
     background-color: #F5F4FA;
}

   

.title-about {


font-weight: 700;
font-size: 36px;
line-height:calc(42/36);
letter-spacing:0.03em;
text-align: center;
color: var(--title-text-color); 

}
.title-about {
    margin-bottom: 50px;
}

.team-list {
    display:flex;
    justify-content: space-between;
   
}
img {
    display: block;
}

.title-name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    color: #212121;
    text-align: center;
  margin-bottom: 10px;
}
.text-profession {
   
    font-size: 16px;
    line-height: calc(18/16);
    letter-spacing: 0.03em;
    color: #757575;
    text-align: center;
    }
.team-item {
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
 border-radius: 0px 0px 4px 4px;
background-color: #ffffff;
}

.team-content {
padding: 30px 10px;

 
    }
  

 /* footer */
 .footer {
   
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-bg-color);
 }
 .footer-items {
   
    flex-direction: column;
    gap: 9px;
 }
 .logo-footer {
    margin-bottom: 20px;
 }
.footer-logo {
    color: #2196f3;
    font-family: Raleway,sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.footer-logo {
    color: var(--primery-white-color);
}




.footer-adress {
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.06em;
    color: var(--primery-white-color);
    text-decoration: none;
    font-style: normal;
}
.footer-adress:hover,
.footer-adress:focus {
color: #188ce8;
}

.footer-contact {
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.06em;
    color: rgba(255, 255, 255, 0.6);
   font-style: normal;
}

.footer-contact:hover,
.footer-contact:focus {
color: #188ce8;
}
  


 .logo-footer {
    margin-bottom: 20px;
 }


.footer-address {
    margin-top: 20px;

}

.footer-items li:not(:last-child) {
    margin-bottom: 9px;}
 
.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: #AFB1B8;
    background-color: #FFFFFF;
    border-radius: 50%;

}
.socials-link:hover,
.socials-link:focus {
color: #FFFFFF ;
background-color: #2196F3
}
.text-profession {
margin-bottom: 30px;
 }

.socials-icon {
    fill: currentcolor;
}
.title-work {
    margin-bottom: 30px;
}
 .conteiner-iconsbig {
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    display: flex;
    align-item: center;
    justify-content: center;
    margin-bottom: 30px;
 }

    
.iconsbig {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.iconsbig item {
    display: flex;
    align-item: center;
    justify-content: center;
}
.iconsbig-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
}
.iconsbig list  {
    margin-bottom: 10px;
}
.hero-title {
    margin-bottom: 30px; 
}
/* portfolio page */


.portfolio-conteiner{
display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.work-btn-item {
    padding: 6px 22px;
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: #F5F4FA;
    border-radius: 4px;
    border: none;
}
.work-btn-item.current {
    background-color: #2196F3;
    color: #FFFFFF;
}
.work-btn-item: hover,
.work-btn-item:focus {
    color: #FFFFFF
}
.portfolio-categories {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;

}


 .logo link {
    font-family: Raleway, sans-serif;
    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color:#2196f3;
 }

 .header-logo {
    color: var(--primery-black-color);
 }

 .header-link {
    
    color:var(--title-text-color);
    text-decoration: none;
 }

 
 
.header-portfolio {
    font-family: "Roboto",sans-serif;
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
   text-decoration: none;
}




.work-btn-current-item {
    
background-color: #2196F3;
color: #ffffff;
    }

.header-portfolio:hover {
    color: #2196f3;
}
.header-portfolio-current {
    font-weight: 500;
    font-size: 14px;
    color:#2196f3  

}
.work-btn-list {
    background-color: var(--portfolio-overlay-text-bg-color);
   color: var(--second-grey-color);
}
.work-btn-item:hover,
.work-btn-item:focus { 
background-color: var(--accent-color);
color: var(--primery-white-color);
}
    
.work-btn-item {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height:calc(26/16);
letter-spacing: 0.03em;
color:var(--title-text-color) ;
cursor: pointer;
}

.header-kontact {
font-family:"Roboto",sans-serif ;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.02em;
color: #757575; 
text-decoration: none;
}
.header-kontact:hover {
    color: #188ce8;
}
.header-kontact:focus {
    color: #188ce8;
}
.portfolio-conteiner {
    display: flex;
    flex-wrap:wrap;
    gap: 30px;
    column-gap: 30px; 
}



.portfolio-btn {
    background-color: #2196f3; 
    cursor: pointer;
      
} 
.visually-hidden {
    display: none;
}

.portfolio-categories {
    display: flex;
    gap: 8px;
    
}

.portfolio-list {
   display: flex;
    flex-wrap: wrap;
    gap: 30px;
  

}
.portfolio-item {
 flex-basis: 370px;

}

 .work-portfolio {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none; 
    
 }

.portfolio-title {
    margin-bottom: 4x;

    font-weight: 700px;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
    color:var(--title-text-color);
    

}

.portfolio-text {
font-weight: 400;
font-size: 16px;
line-height: calc(30/16);
letter-spacing: 0.03em;
color:var(--primary-text-color);
}


/* footer portfolio */







    




